/* Remove the arrow head up and arrow head down in number input */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color:black;
  color: white;
  font-family: Roboto;
}

.calculator-container{
  background-color: rgb(59,59,76);
  margin:20px auto;
  max-width:750px;
  padding: 20px;
  border-radius: 10px;
}

#form{
  margin-top: 20px;
}

label{
  font-size: larger;
}

input{
  border: none;
  height: 25px;
  border-radius: 2px;
}

.input-btn{
  display: flex;
}

.invalid{
  border: 1px solid red;
}

.calculate-button{
  background-color: yellow;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  display: inline;
  border: none;
  cursor: pointer;
  margin-left: 5px;
}


p{
  margin-top: 20px;
  font-weight: bold;
  font-style: italic;
}

span{
  margin-left: 10px;
  font-family: inherit;
  font-weight: bold;
}

@media(min-width:460px){
  .calculator-container{
    width: 90%;
  }
}